.pane{
    -fx-background-color: #2B2B2B;
}
.scrollPane{
    -fx-background-color: #4B4C44;
}
.listTopPane{
    -fx-background-color: #EA0018;
}
.listCenterPane{
    -fx-background-color:#202020 ;
}
.line{
    -fx-stroke:  white
}
.label{
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 21;
    -fx-alignment: center;
    -fx-text-alignment: center;

}
.destinationLabel{
    -fx-text-fill: white;
    -fx-font-size: 18;
    -fx-alignment: center;
    -fx-text-alignment: center;
}
.busStopLabel{
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-alignment: center;
    -fx-text-alignment: center;
}
.timeToLeaveLabel{
    -fx-text-fill: gray;
    -fx-font-size: 13;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.button{

    -fx-background-color: #2B2B2B;
    -fx-cursor: hand;
    -fx-text-fill: white;
    -fx-font-size: 19;
    -fx-alignment: center;
}
.errorLabel{
    -fx-text-fill: red;
    -fx-font-size: 13;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.searchText{
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.informationLabel{
    -fx-text-fill: white;
    -fx-font-size: 15;
    -fx-alignment: center;
    -fx-text-alignment: center;
}